// div .h1-seo {
//     font-size: 1rem;
//   }
  
@media screen and (max-width: 1080px){
    div .h1-seo {
            font-size: 2rem;
            text-align: center;
            align-items: center;
          }
    div h3 {
        font-size: 1rem;
    }

}