<app-default-header></app-default-header>

<div class="wrapper justify-content-md-center">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand col justify-content-md-center text-center">
          <img
            alt="Circle image"
            class="img-fluid rounded-circle shadow"
            src="assets/img/profile_pic.jpeg"
            style="width: 200px; height: 200px;"
          />
        <h1 class="h1-seo">Guilherme Teixeira Caldana</h1>
        <h3>
          Desenvolvedor Fullstack
        </h3>
      </div>
    </div>
  </div>
  
  <app-default-footer></app-default-footer>

